<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Flag</th>
        <th scope="col">Name</th>
        <th scope="col">Capital</th>
        <th scope="col">Population</th>
        <th scope="col">Currencies</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><img [src]="country?.flag" class="flagimage"></td>
        <td>{{country?.name}}</td>
        <td>{{country?.capital}}</td>
        <td>{{country?.population}}</td>
        <td>{{currencies}}</td>
      </tr>
    </tbody>
  </table>